<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/basic.css}">

    <script  th:src="@{/js/node_modules/jquery/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/node_modules/chart.js/dist/chart.umd.js}"></script>


    <title>Deloran Monitoring System</title>

</head>
<body class="grid ">
<div class="navbar mb-20 " id="navbar">
    <div class="navbar-content">
        <div class="navbar-title">Monitoring System</div>
        <div class="navbar-links">
            <a th:href="@{/index}">Home</a>
            <a th:href="@{/realtime}">Realtime Graph</a>
            <a th:href="@{/log}">Event Log</a>
        </div>
    </div>
</div>
<div class="shadow-lg ring-1 ring-black ring-opacity-5 bg-grey my-20 mx-5  p-4">

    <p> This is the deloran monitoring interface. Here you can visualize info about your gateway resources stats such as
        RAM;CPU and Network Resources, you can choose the timeslot of interest or visualize the last five minutes info
        clicking on the submit button (leaving date selectors empty)</p>


</div>


<div class="w-1/2 justify-self-center">

    <form id="gateway_data" class=" m-10 shadow-lg ring-1 ring-black ring-opacity-5   place-content-evenly">

        <div class=" flex flex-col flex-auto gap-2  flex p-5 justify-center">

            <div class="flex flex-row">

                <div class="time-selector ">
                    <div class="grid grid-rows-2">
                        <label for="start_time" class="label-time">START</label>
                        <input type="datetime-local" id="start_time">

                    </div>

                </div>

                <div class="time-selector">

                    <div class="grid grid-rows-2">
                        <label for="end_time" class="label-time">END</label>
                        <input type="datetime-local" id="end_time">
                    </div>
                </div>
            </div>

            <!--Check box drop down menu-->
            <div th:if="${gateways_ids.size() > 1}">
                <div
                        class="col-span-2  justify-self-center w-auto  relative inline-block text-right ml-12">
                    <div>
                        <button id="dropdownButton" type="button"
                                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                aria-expanded="true" aria-haspopup="true">
                            Scegli un gateway
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                 fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                    </div>

                    <div id="dropdownMenu"
                         class="hidden origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="py-1 flex items-center" role="menu" aria-orientation="vertical"
                             aria-labelledby="dropdownButton" th:each="id : ${gateways_ids}">
                            <div>

                                <label class=" px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 cursor-pointer"
                                       th:text="${id}" for="check">
                                </label>
                                <input id="check" th:type="checkbox" type="checkbox"
                                       class="mr-3 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
                                       th:value="${id}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-4  w-full col-span-2 grid grid-cols-2">
                <div class="mt-4 w-1/2 justify-self-center ">
                    <button id="submit"
                            class="custom_button">
                        Submit
                    </button>
                </div>
                <div class="mt-4 w-1/2 justify-self-center">
                    <button id="reset"
                            class="custom_button">
                        Reset
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="m-20 p-10 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">

    <div class="chart w-full">
        <canvas id="CPU_Usage" class="0"></canvas>
    </div>
    <div class="chart w-full">
        <canvas id="RAM_Usage" class="0"></canvas>
    </div>
    <div class="chart w-full">
        <canvas id="NET_Usage" class="0"></canvas>
    </div>
</div>
<script>
    document.getElementById('dropdownButton').addEventListener('click', function () {
        var menu = document.getElementById('dropdownMenu');
        menu.classList.toggle('hidden');
    });
</script>
<script type="application/javascript" th:src="@{js/aux.js}"></script>
<script type="application/javascript" th:src="@{js/log.js}"></script>
</body>
</html>
