<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitoring System</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/basic.css}">

    <script type="text/javascript" th:src="@{/js/node_modules/chart.js/dist/chart.umd.js}"></script>
    <script th:src="@{/js/node_modules/jquery/jquery.min.js}"></script>
    <script  th:src="@{/js/node_modules/datatables.net/dataTables.min.js}"></script>
    <link rel="stylesheet" th:href="@{/js/node_modules/datatables.net-dt/css/dataTables.dataTables.min.css}">

</head>

<body class="bg-gray-100 grid">

<div class="navbar mb-20 " id="navbar">
    <div class="navbar-content">
        <div class="navbar-title">Monitoring System</div>
        <div class="navbar-links">
            <a th:href="@{/index}">Home</a>
            <a th:href="@{/}">Realtime Graph</a>
            <a th:href="@{/log}">Temperature Log</a>
        </div>
    </div>
</div>

<div class="container"></div>
<div class="w-1/2 justify-self-center">
    <form id="realtime_submit" class=" m-10 shadow-lg ring-1 ring-black ring-opacity-5   place-content-evenly">

        <p class="m-6 text-center font-sans font-medium break-keep ">

        Welcome to our server monitoring system, here you can monitor your server rack environmental situation.<br>
        Click on submit to start generating the realtime graph about your machine temperature situation.<br>
        You will also be provided with a log all the anomalies reported, updated in realtime as well!
        </p>
        <div class="mt-4  w-3/4 col-span-2 grid grid-cols-2">
            <div class="mt-4 w-1/2 justify-self-center ">
                <button id="submit"
                        class="custom_button">
                    Submit
                </button>
            </div>
            <div class="mt-4 w-1/2 justify-self-center">
                <button id="reset"
                        class="custom_button">
                    Reset
                </button>
            </div>
        </div>
    </form>
</div>

<div class="grid grid-cols-3 gap-10 w-full ">


    <div class=" w-11/12 col-span-2 p-5  justify-self-center rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">


        <div class="chart w-full">
            <canvas id="Temperature" class="0"></canvas>
        </div>


    </div>

    <div class=" w-11/12 col-span-1 p-5  justify-self-center rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
        <table id="anomalies_table" class="table-auto text-center w-full border-separate rounded" data-currentpage="1">
            <thead class="font-mono bg-slate-600 text-white">

            <tr>
                <th class="m-6 p-2"> Anomalies </th>
            </tr>
            </thead>

        </table>
    </div>

<div class="h-20 m-10"> </div>
</div>



<script type="application/javascript" th:src="@{js/aux.js}"></script>
<script type="application/javascript" th:src="@{js/realtime.js}"></script>
</body>

</html>