body {
    margin: 0;
    font-family: Arial, sans-serif;
}



.jsonContainer {
    margin: 0;
    padding: 1em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar.hide {
    top: -50px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nullcolor { color: gray; }
.numbercolor { color: blue; }
.stringcolor { color: green; }
.keycolor { color: red; }
.defaultcolor { color: black; }